#main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-tweet {
  width: 100%;
  border-radius: 20px;
}

#blue-div {
  width: 100%;
  height: 260px;
  position: relative;
}

.white-div {
  width: 100%;
  height: 100px;
}

#white-div {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -3rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

#photo-profile {
  width: 130px;
  height: 130px;
  border: solid white 4px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0;
  background-color: white;
}

#profile-tweet-pic {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-right: 1rem;
  width: 4rem;
}

#follow-btn {
  border-radius: 20px;
  width: 80px;
  margin-top: 30px;
  position: absolute;
  bottom: -3rem;
  right: 1rem;
}

#follows-numbers {
  position: absolute;
  bottom: -7.3rem;
  right: 0;
}

#username {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 24px;
}

#bottom-div {
  display: flex;
  background-color: #068ddf;
  width: 10vw;
}

#follows {
  margin-top: 22px;
  margin-right: 2rem;
}

.number {
  font-weight: 600;
  color: black;
}

.grey-letter {
  color: grey;
}
#tweets-handler {
  width: 60px;
  font-weight: 600;
  border-bottom: 5px solid #068ddf;
  margin-right: auto;
  margin-top: 8rem;
  margin-left: 1.6rem;
}

#tweet {
  width: 85%;
  margin-left: auto;
}

#bottom-content {
  display: flex;
  width: 100%;
}

#portada {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.tiny-pic-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#tweet-container {
  margin-top: 13rem;
  width: 100%;
}

#tweet-container h3 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 1rem;
  width: 3.5vw;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  border-bottom: solid 5px #068ddf;
}

#interaction-list {
  padding-left: 0;
  display: flex;
}

#interact-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: none;
}

#interact-icon ul {
  display: flex;
  flex-direction: row;
}

#retweet-icon svg {
  fill: rgb(45, 45, 45);
  width: 1.2rem;
  margin-left: 2rem;
}

#comment-icon svg {
  fill: rgb(45, 45, 45);
  width: 1.2rem;
  margin-left: 1em;
}

#interaction-icon {
  fill: rgb(45, 45, 45);
  width: 1.2rem;
  margin-left: 2rem;
}

#corazon {
  transition: ease-in-out 0.1s;
}

#dislike {
  transition: ease-in-out 0.1s;
}

#dislike:active {
  transform: scale(1.3);
}

#toggle {
  opacity: 0;
  transform: scale(3);
  position: absolute;
}

#heart-container {
  position: relative;
  cursor: pointer;
  top: 6px;
  transform: scale(0.7);
}

#tweet-likes {
  position: absolute;
  right: -3.5rem;
  top: -2px;
  transform: scale(1.3);
}

#twitter-heart {
  position: absolute;
  background: url("https://abs.twimg.com/a/1454637594/img/t1/web_heart_animation.png");
  background-position: 0px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  top: -40px;
  left: -40px;
  pointer-events: none;
}

#toggle:checked + #twitter-heart {
  animation: heart-animate 0.8s steps(28) forwards;
}

@keyframes heart-animate {
  100% {
    background-position: -2800px;
  }
}

a {
  text-decoration: none;
  color: black;
}
