.card-css {
	width: 22rem;
	background-color: #f7f9f9;
}

ul {
	list-style: none;
}

.font-grey {
	color: grey;
}

.btn-skyblue {
	color: aliceblue;
	background-color: #1d9bf0;
	transition: ease-in-out 0.2s;
	font-weight: 400;
}

.btn-skyblue:hover {
	color: aliceblue;
	background-color: #61b6ee;
}

.fontsize-grey {
	color: grey;
	font-size: 0.9rem;
}

.inline-b {
	display: inline-block;
}

.like-color {
	color: #f91894;
}

.principal-text {
	font-size: 1.3rem;
	font-weight: 600;
}

.border-tweet {
	border-bottom: solid #1d9bf0;
}

.borders {
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}

@media (max-width: 991px) {
	.borders {
		border-radius: 0.375rem;
	}
}
