.Tweet {
	border: solid black 1px;
}

.heart {
	width: 50px;
	height: 30px;

	background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
		no-repeat;
	background-size: 2900px 100px;
	background-position: -20px;
	cursor: pointer;
	transition: background-position 1s steps(28);
	transition-duration: 0s;
	scale: .6;
}

.heart:active {
	transition-duration: 1s;
	background-position: -2820px;
	
}

.isActive {
	width: 50px;
	height: 30px;
	background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
		no-repeat;
	background-size: 2900px 100px;
	background-position: -2820px -35px;
	cursor: pointer;
	position: relative;
	transition: background-position 1s steps(28);
	transition-duration: 0s;
	scale: .6;
}
