#profile-tweet-pic {
	display: flex;
	align-items: start;
	justify-content: center;
	margin-right: 1rem;
	width: 4rem;
}

.tiny-pic-profile {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.tweet-icon {
	fill: rgb(45, 45, 45);
	width: 1.2rem;
	margin-left: 1em;
}

#tweet-icon-list {
	display: flex;
	padding-left: 0;
}


