body {
	margin: 0;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background-color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.login {
	display: flex;
	flex-direction: column;
	width: 600px;
}

/* ////////////////////////Profile Component CSS ///////////////////////////////////*/
#blue-div {
	background-color: rgb(58, 190, 243);
	height: 100px;
	width: 100%;
	display: flex;
}

#follow-btn {
	position: relative;
	top: 110px;
	left: 450px;
	width: 80px;
	height: 30px;
	background-color: rgb(58, 190, 243);
	color: white;
	border-radius: 20px;
}

#unfollow-btn {
	position: relative;
	top: 110px;
	left: 450px;
	width: 80px;
	height: 30px;
	background-color: rgb(151, 164, 169);
	color: white;
	border-radius: 20px;
}

#profile-Photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: 80px;
}

#white-div {
	background-color: white;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.gray-letter {
	color: gray;
}

/* ////////////////////////Finish Profile Component CSS ///////////////////////////////////*/
