body {
	margin: 0;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background-color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.login {
	display: flex;
	flex-direction: column;
	width: 600px;
}

/* ////////////////////////Profile Component CSS ///////////////////////////////////*/
#headerProfile {
	background-color: rgb(32, 49, 56);
	height: 300px;
	width: 100%;
	display: flex;
	position: relative;
}

.followsNumber{
	position: absolute;
	bottom: -10rem;
	right: 1rem;
}


.cardProfilePic{
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	bottom: -13rem;
	left: 1rem;
}

.tweet-container{
	margin-top: 220px;
}

#follow-btn {
	width: 80px;
	height: 30px;
	background-color: rgb(58, 190, 243);
	color: white;
	border-radius: 20px;
}

#unfollow-btn {
	width: 80px;
	height: 30px;
	background-color: rgb(151, 164, 169);
	color: white;
	border-radius: 20px;
}

#profile-Photo {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	top: 80px;
	border: solid 4px white;
}

.followBtnContainer{
	position: absolute;
	bottom: -5rem;
	right: 1rem;
}


#white-div {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.gray-letter {
	color: gray;
}

/* ////////////////////////Finish Profile Component CSS ///////////////////////////////////*/
